packs/advocacia-trabalhista/workflows/03. Escalar Advogado - Advocacia Trabalhista.json
{
  "name": "03. Escalar Advogado - Advocacia Trabalhista",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        720
      ],
      "id": "ca968f7e-02f3-4667-ad07-ff71c1e5084e",
      "name": "Listar etiquetas da conversa",
      "credentials": {}
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "ultima_mensagem"
            },
            {
              "name": "resumo_conversa"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "url_chatwoot"
            },
            {
              "name": "id_conversa_alerta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        832,
        720
      ],
      "id": "655a10aa-3e10-4891-bd58-b0865a2fd598",
      "name": "Gatilho",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa_alerta }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Assistente desabilitado para o usuário {{ $('Gatilho').item.json.nome || '(usuário não cadastrado)' }} ({{ $('Gatilho').item.json.telefone }}).\n\n*Última mensagem*:\n\n\"{{ $('Gatilho').item.json.ultima_mensagem }}\"\n\n*Resumo da conversa*:\n\n\"{{ $('Gatilho').item.json.resumo_conversa }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        720
      ],
      "id": "311505be-630b-47e9-a11b-02dadbd6c6f0",
      "name": "Enviar alerta",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b51e260-d4ab-4748-82b0-f8012c3f3c70",
              "leftValue": "={{ $('Gatilho').item.json.id_conversa_alerta }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4e6460eb-24f7-4c79-a0d0-a6595db722b3",
              "leftValue": "={{ $('Gatilho').item.json.id_conversa_alerta }}",
              "rightValue": "<inserir id da conversa de alerta>",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        720
      ],
      "id": "5a66a629-aaef-4eca-96fe-9d5df4d39c58",
      "name": "Conversa de alerta configurada?",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1584,
        880
      ],
      "id": "5622fbe2-54bc-46b4-adae-54a5cb568fc8",
      "name": "Alerta não configurado",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Abrir nodes do Chatwoot para selecionar credencial",
        "height": 128,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        944
      ],
      "id": "fc644bbf-85d0-43c1-8330-1a9a7666c8bf",
      "name": "Sticky Note8",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## 05. Escalar humano",
        "height": 80,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9c4b1df2-7233-44ab-97ea-a7299f6e7daa",
      "name": "Sticky Note9",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.payload.append('agente-off').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        720
      ],
      "id": "6cd5de61-aad6-4857-996c-bdaf5dfcc6ec",
      "name": "Colocar etiqueta agente-off",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## Colocar etiqueta e enviar alerta",
        "height": 416,
        "width": 1024,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        624
      ],
      "typeVersion": 1,
      "id": "606691c0-c1e9-485d-939f-510dae2a164e",
      "name": "Sticky Note",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        96
      ],
      "id": "348a7c2f-6219-4fe8-94a4-3019959556cc",
      "name": "Sticky Note13",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        96
      ],
      "id": "0fa25d9f-a34d-4132-b157-c4ccd7f91087",
      "name": "Sticky Note36",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        544
      ],
      "id": "571c5384-b2e7-4b25-a924-ad79cfd288cd",
      "name": "Sticky Note21",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        640
      ],
      "id": "7d6c8e79-2b48-4c38-9011-2503b3d12adf",
      "name": "Sticky Note29",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "id": "5e179d51-0884-4feb-9b27-d1a845499ee2",
      "name": "Sticky Note12",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "@[youtube](Vv_uQGehgIc)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        624
      ],
      "id": "b0fd66b2-0b90-4394-b8e1-8c367bf6809a",
      "name": "Sticky Note17",
      "credentials": {}
    }
  ],
  "connections": {
    "Listar etiquetas da conversa": {
      "main": [
        [
          {
            "node": "Colocar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Listar etiquetas da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversa de alerta configurada?": {
      "main": [
        [
          {
            "node": "Enviar alerta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta não configurado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Conversa de alerta configurada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "activeVersionId": "3a144704-6163-49c6-a240-46ba8cf70f79",
  "versionCounter": 9,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-21T22:19:56.780Z",
      "createdAt": "2026-05-21T22:19:56.780Z",
      "role": "workflow:owner",
      "workflowId": "wsgYk8pLOWXa74KX",
      "projectId": "EXZkmU6lbSDQ8bsY",
      "project": {
        "updatedAt": "2026-01-03T16:16:02.267Z",
        "createdAt": "2026-01-03T15:57:05.115Z",
        "id": "EXZkmU6lbSDQ8bsY",
        "name": "Alessandro Lima <admalessandrolima@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cee7fe92-fc98-434b-8832-f8113371375e"
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-21T22:19:56.780Z",
    "createdAt": "2026-05-21T22:19:56.780Z",
    "versionId": "3a144704-6163-49c6-a240-46ba8cf70f79",
    "workflowId": "wsgYk8pLOWXa74KX",
    "nodes": [
      {
        "parameters": {
          "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "chatwootApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1008,
          720
        ],
        "id": "ca968f7e-02f3-4667-ad07-ff71c1e5084e",
        "name": "Listar etiquetas da conversa"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefone"
              },
              {
                "name": "nome"
              },
              {
                "name": "ultima_mensagem"
              },
              {
                "name": "resumo_conversa"
              },
              {
                "name": "id_conta"
              },
              {
                "name": "id_conversa"
              },
              {
                "name": "url_chatwoot"
              },
              {
                "name": "id_conversa_alerta"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          832,
          720
        ],
        "id": "655a10aa-3e10-4891-bd58-b0865a2fd598",
        "name": "Gatilho"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa_alerta }}/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "chatwootApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "content",
                "value": "=Assistente desabilitado para o usuário {{ $('Gatilho').item.json.nome || '(usuário não cadastrado)' }} ({{ $('Gatilho').item.json.telefone }}).\n\n*Última mensagem*:\n\n\"{{ $('Gatilho').item.json.ultima_mensagem }}\"\n\n*Resumo da conversa*:\n\n\"{{ $('Gatilho').item.json.resumo_conversa }}\""
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1584,
          720
        ],
        "id": "311505be-630b-47e9-a11b-02dadbd6c6f0",
        "name": "Enviar alerta"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "3b51e260-d4ab-4748-82b0-f8012c3f3c70",
                "leftValue": "={{ $('Gatilho').item.json.id_conversa_alerta }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "4e6460eb-24f7-4c79-a0d0-a6595db722b3",
                "leftValue": "={{ $('Gatilho').item.json.id_conversa_alerta }}",
                "rightValue": "<inserir id da conversa de alerta>",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1360,
          720
        ],
        "id": "5a66a629-aaef-4eca-96fe-9d5df4d39c58",
        "name": "Conversa de alerta configurada?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1584,
          880
        ],
        "id": "5622fbe2-54bc-46b4-adae-54a5cb568fc8",
        "name": "Alerta não configurado"
      },
      {
        "parameters": {
          "content": "# Checklist\n- [ ] Abrir nodes do Chatwoot para selecionar credencial",
          "height": 128,
          "width": 400,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          944,
          944
        ],
        "id": "fc644bbf-85d0-43c1-8330-1a9a7666c8bf",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "content": "## 05. Escalar humano",
          "height": 80,
          "width": 400,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "9c4b1df2-7233-44ab-97ea-a7299f6e7daa",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/labels",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "chatwootApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "labels",
                "value": "={{ $json.payload.append('agente-off').unique() }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1184,
          720
        ],
        "id": "6cd5de61-aad6-4857-996c-bdaf5dfcc6ec",
        "name": "Colocar etiqueta agente-off"
      },
      {
        "parameters": {
          "content": "## Colocar etiqueta e enviar alerta",
          "height": 416,
          "width": 1024,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          768,
          624
        ],
        "typeVersion": 1,
        "id": "606691c0-c1e9-485d-939f-510dae2a164e",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
          "height": 440,
          "width": 500,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          560,
          96
        ],
        "id": "348a7c2f-6219-4fe8-94a4-3019959556cc",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
          "height": 440,
          "width": 1380,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1072,
          96
        ],
        "id": "0fa25d9f-a34d-4132-b157-c4ccd7f91087",
        "name": "Sticky Note36"
      },
      {
        "parameters": {
          "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
          "height": 316,
          "width": 552,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          544
        ],
        "id": "571c5384-b2e7-4b25-a924-ad79cfd288cd",
        "name": "Sticky Note21"
      },
      {
        "parameters": {
          "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
          "height": 96,
          "width": 324,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          112,
          640
        ],
        "id": "7d6c8e79-2b48-4c38-9011-2503b3d12adf",
        "name": "Sticky Note29"
      },
      {
        "parameters": {
          "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
          "height": 440,
          "width": 550,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          96
        ],
        "id": "5e179d51-0884-4feb-9b27-d1a845499ee2",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "content": "@[youtube](Vv_uQGehgIc)",
          "height": 224,
          "width": 368,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1808,
          624
        ],
        "id": "b0fd66b2-0b90-4394-b8e1-8c367bf6809a",
        "name": "Sticky Note17"
      }
    ],
    "connections": {
      "Listar etiquetas da conversa": {
        "main": [
          [
            {
              "node": "Colocar etiqueta agente-off",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gatilho": {
        "main": [
          [
            {
              "node": "Listar etiquetas da conversa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Conversa de alerta configurada?": {
        "main": [
          [
            {
              "node": "Enviar alerta",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Alerta não configurado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Colocar etiqueta agente-off": {
        "main": [
          [
            {
              "node": "Conversa de alerta configurada?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alessandro Lima",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-24T19:51:45.717Z",
        "id": 454,
        "workflowId": "wsgYk8pLOWXa74KX",
        "versionId": "3a144704-6163-49c6-a240-46ba8cf70f79",
        "event": "deactivated",
        "userId": "cee7fe92-fc98-434b-8832-f8113371375e"
      },
      {
        "createdAt": "2026-05-24T19:51:45.760Z",
        "id": 455,
        "workflowId": "wsgYk8pLOWXa74KX",
        "versionId": "3a144704-6163-49c6-a240-46ba8cf70f79",
        "event": "activated",
        "userId": "cee7fe92-fc98-434b-8832-f8113371375e"
      },
      {
        "createdAt": "2026-05-22T17:06:17.132Z",
        "id": 417,
        "workflowId": "wsgYk8pLOWXa74KX",
        "versionId": "3a144704-6163-49c6-a240-46ba8cf70f79",
        "event": "activated",
        "userId": "cee7fe92-fc98-434b-8832-f8113371375e"
      }
    ]
  }
}